<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/pragyanshu-kashyap/" target="_blank" rel="noopener"
                aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/pragyanshu-kashyap" target="_blank" rel="noopener" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com/pragyanshu_kashyap/?__pwa=1" target="_blank" rel="noopener"
                aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
        <div class="f-info-brand"> TourStay private limited &copy; 2020</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>